.Pagination {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;
  .pages {
    position: relative;
    display: flex;
    gap: 12px;
    align-items: center;
    p {
      position: relative;
      padding: 12px;
      border-radius: 4px;
      border: 1px solid var(--color-font-grey);
    }
    .active {
      p {
        color: var(--color-main-blue);
      }
    }
  }
}
