.newsImage {
  position: relative;
  font-size: 0.9rem !important;
  color: #898989;
  margin-bottom: 16px;
  * {
    font-style: normal;
  }
  &__half {
    width: 270px;
    img {
      height: 152px;
    }
    @media (max-width: 490px) {
      width: 100%;
    }
  }
  &__left {
    float: left;
    margin-right: 30px;
  }
  &__right {
    float: right;
    margin-left: 30px;
  }
  .imgWrapper {
    position: relative;
    height: 405px;
    width: 100%;
    margin: 0 auto 0 !important;
    cursor: pointer;
    @media (max-width: 1240px) {
      height: 300px;
      @media (max-width: 1140px) {
        height: 250px;
        @media (max-width: 1024px) {
          height: 405px;
          @media (max-width: 860px) {
            height: 300px;
            @media (max-width: 768px) {
              height: 405px;
              @media (max-width: 600px) {
                height: 300px;
                @media (max-width: 500px) {
                  height: 250px;
                  @media (max-width: 390px) {
                    height: 200px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .imageChild {
    width: 100%;
    padding-top: 5px;
    font-size: 0.688rem;
    line-height: 18px;
  }
  p {
    margin: 0;
  }
}
